<mat-tab-group (selectedTabChange)="currentView = $event.tab.textLabel">
  <mat-tab label="Buy"></mat-tab>
  <mat-tab label="Sell"></mat-tab>
</mat-tab-group>

<table mat-table [dataSource]="stocksService.stocks$ | async | stockType:currentView">

  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef> Ticker </th>
    <td mat-cell *matCellDef="let stock"> {{stock.ticker}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let stock"> {{stock.date.seconds * 1000 | date:"dd/MM/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="units">
    <th mat-header-cell *matHeaderCellDef> Units </th>
    <td mat-cell *matCellDef="let stock"> {{stock.units}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Buy/Sell Price </th>
    <td mat-cell *matCellDef="let stock"> {{stock.price | number:'1.0-2'}}p </td>
  </ng-container>

  <ng-container matColumnDef="currentPrice">
    <th mat-header-cell *matHeaderCellDef> Current Price </th>
    <td mat-cell *matCellDef="let stock"> {{stock.currentPrice | number:'1.0-2'}}p </td>
  </ng-container>

  <ng-container matColumnDef="bookCost">
    <th mat-header-cell *matHeaderCellDef> Book Cost </th>
    <td mat-cell *matCellDef="let stock"> £{{stock.bookCost | number:'1.0-2'}} </td>
  </ng-container>

  <ng-container matColumnDef="marketValue">
    <th mat-header-cell *matHeaderCellDef> Market Value </th>
    <td mat-cell *matCellDef="let stock"> £{{stock.marketValue | number:'1.0-2'}} </td>
  </ng-container>

  <ng-container matColumnDef="gain">
    <th mat-header-cell *matHeaderCellDef> Gain </th>
    <td mat-cell *matCellDef="let stock"> £{{stock.gain | number:'1.0-2'}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete? </th>
    <td mat-cell *matCellDef="let stock">
      <button mat-button color="warn" *ngIf="auth.user | async as user" (click)="openDeleteDialog(user.uid, stock)">X</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>