<div *ngIf="auth.user | async as user">
  <form (ngSubmit)="stocksService.addStock(user.uid, stock); stockForm.reset();" #stockForm="ngForm">
    <p>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="stock.type" name="type" required>
          <mat-option value="Buy">Buy</mat-option>
          <mat-option value="Sell">Sell</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Ticker</mat-label>
        <input #searchBox matInput [(ngModel)]="stock.ticker" [matAutocomplete]="auto" (input)="search(searchBox.value)"
          name="ticker" required />
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of stocks$ | async" [value]="item.ticker">
          {{item.ticker}} ({{item.name}})
        </mat-option>
      </mat-autocomplete>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="stock.date" name="date" required/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="price">Price (p)</mat-label>
        <input matInput [(ngModel)]="stock.price" name="price" required />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Units</mat-label>
        <input matInput [(ngModel)]="stock.units" name="units" required />
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit" [disabled]="!stockForm.form.valid">Add</button>
  </form>
</div>